.git
.gitignore
.env.local
.env
node_modules
.next
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log
.cache
tests/
__tests__/
docs/
.editorconfig
.prettierignore
.eslintignore
Makefile
docker-compose.override.yml
.github
tmp/
.tmp*
coverage/
dist/
build/
